* {
    
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-family: 'Inter';
}

body {
    display:flex;
    justify-content: center;
    align-items: center;

    margin: 20px;

    background-color: #ffffff;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-hub-container {
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px;
    margin-bottom: 40px;
    
    width: 400px;
    justify-content: center;

    background-color: #FFFD96;

    text-align: center;
}

h1 {
    font-size: 36px;
    color: #000000d7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   

    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#taskInput {
    border: 2px solid #31DDC1;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #dfe1e6;
    border-radius: 5px;
    flex: 1;
    padding: 10px;
    margin-right: 10px;
}

#addTaskBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    background-color: #31DDC1;
    color: #ffffff;

    cursor: pointer;
}

#addTaskBtn:hover {
    background-color: #008e7a;
}

.task-list {
    list-style: none;
}

.task-item {
    background-color: #fffbcc;

    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;

    font-size: 18px;
}

.remove-task {
    background-color: #FD3A78;
    color: #ffffff;
    cursor: pointer;

    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 15px;
}

.remove-task:hover {
    background-color: #e60033;
}