# Ignore system files
.DS_Store

# Ignore node_modules in both frontend and backend
/client/node_modules/
/server/node_modules/

# Ignore Vite build output
/client/dist/

# Ignore sensitive server credentials
/server/serverCredential.js